.VideoDetailsScreen {
  display: flex;
  flex-wrap: wrap;
}
.VideoDetailsScreen.expanded {
  flex-direction: column;
}

.VideoDetailsScreen .VideoDetailComponent {
  flex: 1 1 900px;
}
.VideoDetailsScreen .VideoDetailsRelatedComponents {
  flex: 1 1 400px;
}

.VideoDetailsScreen .VideoDetailComponent > .videoDetailsTitle,
.videoDescription {
  margin: 0%;
  padding: 5px;
}
